.actionButtonContainer {
  position: relative;
}
.buttonLink {
  text-decoration: none;
}
.buttonProgress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12;
  margin-left: -12;
  color: var(--accent-color);
}
.actionButtonContainer :global(.MuiButton-contained).actionButton:not(disabled):not(error):not(focused) {
  background-color: var(--accent-color);
  color: white;
  min-width: 130px;
}
.actionButtonContainer :global(.MuiButton-contained).actionButton:hover:not(disabled):not(error):not(focused) {
  background-color: var(--accent-color-light);
}
.actionButtonContainer :global(.MuiButton-contained).actionButton:disabled {
  background-color: var(--disabled-background);
  color: var(--disabled-text);
  min-width: 130px;
}
