:root {
  /* Base Colors */
  --white: #fff;
  --black: #000;
  --black-light: #424242;
  --primary-color: #ff9800;
  --secondary-color: #ffe0b2;
  --accent-color: #ff5722;
  --accent-color-light: #fb6232;
  --disabled-background: #3d3d3d;
  --disabled-text: #b4b4b4;
  --link-color: #1a5e74;
}
