.presenceRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 30px;
}
.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.text {
  margin-bottom: 0;
  margin-top: 10px;
  max-width: 940px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
.boldText {
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .presenceRow {
    padding: 50px;
  }
  .logo {
    width: 260px;
    height: 180px;
  }
  .text {
    font-size: 20px;
  }
  .actionButton {
    width: 200px;
    min-width: 200px;
    min-height: 50px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .presenceRow {
    padding: 50px 90px;
  }
}
