.markerContainer {
  position: relative;
  top: -20px;
  left: -20px;
}
.markerContainer .locationIcon {
  font-size: 50px;
  color: var(--primary-color);
}
.infoWindowContainer {
  height: auto;
  width: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 4px;
  transform: translate(-37%, -100%);
  background: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}
.infoWindow {
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.closeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
}
.logo {
  width: 100px;
  height: 70px;
}
.arrow {
  width: 50px;
  height: 25px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.arrow::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 0;
  left: 50%;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.6);
}
