.howItWorksContainerSmall {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  justify-content: center;
  /* background-image: url('../../assets/bg.png'); */
  background-position: 0 0;
  background-size: 50%;
}
.howItWorksContainerLarge {
  display: none;
  /* background-image: url('../../assets/bg.png'); */
  background-position: 0 0;
  background-size: 50%;
}
.howItWorksTextcontrainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.howColumn .serviceIcon {
  width: 70px;
  height: 70px;
  color: var(--primary-color);
}
.title {
  margin-bottom: 20px;
  min-height: 50px;
  font-weight: 400;
  text-align: center;
}
.subTitle {
  font-size: 20px;
  line-height: 28px;
  font-weight: 200;
  margin-bottom: 60px;
  text-align: center;
  margin-top: 0;
}
.slide {
  display: flex;
  justify-content: center;
}
.howRow {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.howColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .howItWorksContainerLarge {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px;
  }
  .howItWorksContainerSmall {
    display: none;
  }
  .howRow {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .howColumn {
    justify-content: initial;
    margin: 10px;
    width: 250px;
  }
  .subTitle {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .howItWorksContainerLarge {
    padding: 50px 90px;
  }
  .title {
    margin-bottom: 0px;
  }
  .howRow {
    justify-content: center;
  }
  .howColumn {
    margin: 30px;
    width: 300px;
  }
}
